@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Stack+Sans+Text:wght@200..700&display=swap');

/* --------------------------- STYLE GERAL --------------------------- */

body{
    margin: 0;
    padding:0;
    overflow-x:hidden;
    min-height: 1000px;
}header{
    width:100vw;
    height:80px;
    background-color: rgb(88, 214, 156);
}main{
    width:100vw;
    height: 1000px;
}footer{
    width: 100vw;
    height:100px;
    background-color: rgb(88, 214, 156);
}form{
    width:40vw;
    height:auto;
    background-color: rgb(59, 77, 61);
    box-shadow: 0 0 15px black;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    right:0;
    left:0;
    bottom:0;
}input{
    width: 200px;
    border-radius: 3px;
    border: 0;
}p{
    margin: 0;
}nav{
    width: 50vw;
    height:60px;
    float:right;
    margin: 0 10px 0 0;
    padding: 0;
}h1{
    display: inline-block;
}h2{
    display: inline-block;
}select{
    width:200px;
}div{
    text-align: left;
}img{
    width:100%;
    height: 200px;
    margin:0;
}figure{
    margin:5px;
}table{
    margin: 0 auto;
    position: relative;
    top: 10px;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
    border: solid 1px white;
    background-color: rgb(59, 77, 61);
}

/* --------------------------- STYLE IDS --------------------------- */

#sidebar{
    height:1000px;
    float:left;
    margin:0;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
}#info{
    height:1000px;
    float:right;
    margin:0;
    background-color: rgb(159, 194, 166);
    transition: 0.4s;
}#sidebar{
    width:10vw;
    display: inline-block;
}#info{
    width:90vw;
    text-align: center;
}#btn, #btnLogout, #btnClear, #btnBuscarCep{
    min-width:70px;
    height:30px;
    margin-bottom: 10px;
    background-color: rgb(28, 83, 38);
    color:white;
    border: solid 1px black;
    border-radius: 3px;
    transition: 0.3s;
}#btn:hover{
    background-color: white;
    color:black;
    cursor: pointer;
}#btnLogout:hover{
    background-color: white;
    color:black;
    cursor: pointer;
}#btnClear:hover{
    background-color: white;
    color:black;
    cursor: pointer;
}#btnBuscarCep:hover{
    background-color: white;
    color:black;
    cursor: pointer;
}#res{
    min-width:300px;
    height:200px;
    margin: 0 auto;
    position: relative;
    top:30px;
    right:0;
    left:0;
    bottom:0;
}#userInfo{
    width:90%;
    height:auto;
    margin: 20px 0 0 20px;
}#produtos{
    width:100%;
    min-height:100px;
}#btnLogout{
    margin-top:7px;
}#subtitle{
    margin:10px 0 10px 0;
}#is_principal{
    margin:0;
    width: 10px
}

/* --------------------------- STYLE FONTES --------------------------- */

.stack-sans-text-h1{
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    margin: 0 0 0 30px;
    color: white
}.stack-sans-text-h2{
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    margin: 20px 0 0 20px;
}.stack-sans-text-h3{
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 26px;
    margin:0;
    font-style: normal;
}.stack-sans-text-textWhite{
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white
}.stack-sans-text-textBlack{
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black
}.stack-sans-text-a{
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

/* --------------------------- STYLE CLASSES --------------------------- */

.tab{
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color:black;
    font-size: 22px;
    display: inline-block;
    width:100%;
    transition: 0.3s;
    padding: 2.5px 0 2.5px 10px;
}.tab:hover{
    cursor: pointer;
    background-color: black;
    color:white;
}.navigationLink{
    margin: 2px 10px 0 0 ;
    padding: 8px;
    float: right;
    border-radius: 3px;
    transition: 0.3s;
}.navigationLink:hover{
    cursor: pointer;
    background-color: white;
    color:black;
}.produto{
    width:23%;
    height:380px;
    margin: 0 0 10px 1.25vw;
    box-shadow: 0 0 15px black;
    border-radius: 5px;
    background-color: rgb(59, 77, 61);
    float:left;
}.controle-produto{
    margin: 9px;
}

/* --------------------------- STYLE ANIMATIONS --------------------------- */





